## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [26]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description
0,0,Labuhan,-6.8844,112.2051,79.30,86,100,7.07,ID,overcast clouds
1,1,Port Alfred,-33.5906,26.8910,66.18,94,76,5.01,ZA,broken clouds
2,2,Honiara,-9.4333,159.9500,76.96,87,11,3.78,SB,few clouds
3,3,Paita,-5.0892,-81.1144,69.57,70,23,18.30,PE,few clouds
4,4,Rocha,-34.4833,-54.3333,63.70,63,0,10.42,UY,clear sky

In [29]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input('What is the minimum temperature for your trip'))
max_temp=float(input('What is the maximum temperature for your trip'))

What is the minimum temperature for your trip70
What is the maximum temperature for your trip100

In [32]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pref_cities=city_data_df.loc[(city_data_df['Max Temp']<=max_temp)&(city_data_df['Max Temp']>min_temp)]
pref_cities.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description
0,0,Labuhan,-6.8844,112.2051,79.30,86,100,7.07,ID,overcast clouds
2,2,Honiara,-9.4333,159.9500,76.96,87,11,3.78,SB,few clouds
6,6,Bengkulu,-3.8004,102.2655,76.48,88,100,6.67,ID,overcast clouds
7,7,Marrakesh,31.6315,-8.0083,77.07,36,40,5.75,MA,scattered clouds
8,8,Hithadhoo,-0.6000,73.0833,81.54,74,86,14.29,MV,overcast clouds

In [33]:
# 4a. Determine if there are any empty rows.
pref_cities.count()

City_ID        205
City           205
Lat            205
Lng            205
Max Temp       205
Humidity       205
Cloudiness     205
Wind Speed     205
Country        203
Description    205
dtype: int64

In [34]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities=pref_cities.dropna()

In [35]:
clean_cities.count()

City_ID        203
City           203
Lat            203
Lng            203
Max Temp       203
Humidity       203
Cloudiness     203
Wind Speed     203
Country        203
Description    203
dtype: int64

In [38]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_cities[["City", "Country","Max Temp","Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Labuhan,ID,79.30,overcast clouds,-6.8844,112.2051,
2,Honiara,SB,76.96,few clouds,-9.4333,159.9500,
6,Bengkulu,ID,76.48,overcast clouds,-3.8004,102.2655,
7,Marrakesh,MA,77.07,scattered clouds,31.6315,-8.0083,
8,Hithadhoo,MV,81.54,overcast clouds,-0.6000,73.0833,
9,Mahebourg,MU,74.25,light rain,-20.4081,57.7000,
12,Alyangula,AU,80.35,broken clouds,-13.8483,136.4192,
13,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,
15,Comodoro Rivadavia,AR,71.46,clear sky,-45.8667,-67.5000,
18,Russell,US,79.88,clear sky,32.3502,-85.1999,

In [39]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat=row['Lat']
    lng=row['Lng']
    # 6c. Get latitude and longitude from DataFrame
    params['location']=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels=requests.get(base_url,params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,'Hotel Name']=hotels['results'][0]['name']
    except (IndexError):
        print('hotel not found, skipping')

hotel not found, skipping
hotel not found, skipping
hotel not found, skipping
hotel not found, skipping
hotel not found, skipping
hotel not found, skipping
hotel not found, skipping
hotel not found, skipping
hotel not found, skipping
hotel not found, skipping
hotel not found, skipping

In [42]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Labuhan,ID,79.30,overcast clouds,-6.8844,112.2051,DoubleFAG
2,Honiara,SB,76.96,few clouds,-9.4333,159.9500,Heritage Park Hotel
6,Bengkulu,ID,76.48,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
7,Marrakesh,MA,77.07,scattered clouds,31.6315,-8.0083,Les Jardins de La Koutoubia
8,Hithadhoo,MV,81.54,overcast clouds,-0.6000,73.0833,Scoop Guest House

In [43]:
clean_hotel_df=hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Labuhan,ID,79.30,overcast clouds,-6.8844,112.2051,DoubleFAG
2,Honiara,SB,76.96,few clouds,-9.4333,159.9500,Heritage Park Hotel
6,Bengkulu,ID,76.48,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
7,Marrakesh,MA,77.07,scattered clouds,31.6315,-8.0083,Les Jardins de La Koutoubia
8,Hithadhoo,MV,81.54,overcast clouds,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...,...
499,Pucallpa,PE,86.04,few clouds,-8.3791,-74.5539,Hotel Sol de Oriente - Pucallpa
505,Talladega,US,80.89,scattered clouds,33.4359,-86.1058,"Holiday Inn Express & Suites Talladega, an IHG..."
507,Poum,NC,77.88,clear sky,-20.2333,164.0167,
508,Nhulunbuy,AU,77.61,clear sky,-12.2333,136.7667,East Arnhem Real Estate
512,Ugoofaaru,MV,81.72,few clouds,5.6667,73.0000,Ungoofaaru Inn

In [44]:
# 8a. Create the output File (CSV)
output_data='WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data, index_label="City_ID")

In [45]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))